
.ntdialog {
	position: absolute;
	padding: 0;
}

.ntdialog > .ntdialog-header {
	box-sizing: border-box;
	height: 35px;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color: hsl(0, 0%, 75%);
	background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 98%));
}

.ntdialog-header > .ntdialog-title {
	font-size: 16px;
	position: relative;
	top: 5px;
	left: 10px;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.ntdialog-header > button {
	position: absolute;
	top: 10px;
	width: 18px;
	height: 18px;
	border: 0;
	border-radius: 50%;
}

.ntdialog-header > button.ntdialog-minimize {
	right: 60px;
	background-image: radial-gradient(at 6px 6px, hsl(120, 100%, 100%), hsl(120, 100%, 60%), hsl(120, 100%, 46%), hsl(120, 100%, 40%));
}

.ntdialog-header > button.ntdialog-maximize {
	right: 35px;
	background-image: radial-gradient(at 6px 6px, hsl(60, 100%, 100%), hsl(60, 100%, 60%), hsl(60, 100%, 46%), hsl(60, 100%, 40%));
}

.ntdialog-header > button.ntdialog-close {
	right: 10px;
 	background-image: radial-gradient(at 6px 6px, hsl(0, 100%, 100%), hsl(0, 100%, 75%), hsl(0, 100%, 60%), hsl(0, 100%, 45%));
}

.ntdialog-header.ntdialog-maximization {
	border-radius: 0;
}

.ntdialog-header.ntdialog-minimization {
	border-bottom-width: 1px;
}

.ntdialog > .ntdialog-body {
	box-sizing: border-box;
	text-align: center;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
 	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	/* default */
	padding: 3px;
	border-color: hsl(0, 0%, 75%);
	background-image: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 70%));
}

.ntdialog > .ntdialog-body > * {
	box-sizing: border-box;
}

/* blue */
.ntdialog-blue > .ntdialog-header {
	border-color: hsl(210, 80%, 75%);
	background-image: linear-gradient(hsl(210, 80%, 100%), hsl(210, 80%, 98%));
}

.ntdialog-blue > .ntdialog-body {
	border-color: hsl(210, 80%, 75%);
	background-image: linear-gradient(hsl(210, 80%, 98%), hsl(210, 80%, 70%));
}

/* flat */
.ntdialog-flat > .ntdialog-header {
	border-radius: 0px;
	border-color: hsl(0, 0%, 40%);
	background-image: none;
	background-color: hsl(0, 0%, 70%);
}

.ntdialog-flat > .ntdialog-header > button {
	position: absolute;
	top: 1px;
	width: 36px;
	height: 24px;
	border-style: solid;
	border-radius: 0px;
	background-image: none;
}

.ntdialog-flat > .ntdialog-header > button.ntdialog-minimize {
	right: 80px;
	border-bottom-left-radius: 10px;
	background-color: hsl(120, 100%, 40%);
}

.ntdialog-flat > .ntdialog-header > button.ntdialog-minimize:hover {
	background-color: hsl(120, 100%, 60%);
}

.ntdialog-flat > .ntdialog-header > button.ntdialog-maximize {
	right: 45px;
	background-color: hsl(60, 100%, 40%);
}

.ntdialog-flat > .ntdialog-header > button.ntdialog-maximize:hover {
	background-color: hsl(60, 100%, 60%);
}

.ntdialog-flat > .ntdialog-header > button.ntdialog-close {
	right: 10px;
	border-bottom-right-radius: 10px;
	background-color: hsl(0, 100%, 45%);
}

.ntdialog-flat > .ntdialog-header > button.ntdialog-close:hover {
	background-color: hsl(0, 100%, 75%);
}

.ntdialog-flat > .ntdialog-body {
	border-color: hsl(0, 0%, 40%);
	background-image: none;
	background-color: hsl(0, 0%, 60%);
}


