.half {
	width: 48%;
	min-width: 300px;
}

#wordDisplay {
	float: left;
}

#wordDisplay .dict {
	max-height: 430px;
	overflow-y: auto;
}

#settings {
	float: right;
	text-align: left;
}

#settings .createSettings {
	max-height: 375px;
	overflow-y: auto;
}

#settings .createSettings input {
	box-sizing: border-box;
	width: 100%;
}

#settings .createSettings input.letter {
	width: 15%;
}

#settings .createSettings input.nextLetters {
	width: 60%;
}

body {
	background-color: #EEEEFF;
}

h1, h2 {
	border: solid 1px blue;
	background-color: lightblue;
}

button {
	font-size: 16px;
}

.half .dict {
	overflow-y:auto;
}

.zpword {
	padding: 5px;
}

.zpword > .entry {
	width: 100%;
}

.zpword > .entry > .form {
	width: 25%;
}

.zpword > .translations {
	width: 100%;
}

.zpword > .translations .title {
	width: 25%;
}

.zpword > .translations .forms {
	width: 70%;
}
