<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>単語文字列生成器</title>
	<link rel="stylesheet" href="./css/vdialog.css" />
	<link rel="stylesheet" href="./css/wordmaker.css" />
	<script src="./scripts/vue.js"></script>
	<script src="./scripts/vdialog.js"></script>
	<script src="./scripts/wordmaker.js"></script>
</head>
<body>
	<h1>単語文字列生成器</h1>
	<div id='app'>
		<div>
			<button @click='showDialog'>設定画面</button>
			<button @click='create'>作成</button>
			<button @click='outputJson' v-if="false">OTM-JSONを出力(未作成)</button>
		</div>
		<div>
			<h2>生成文字列一覧</h2>
			<div v-for='(result, index) in results'>
				<p>
					<input type="text" v-model="result.text" />
					<button @click="remove(index)">削除</button>
				</p>
			</div>
		</div>
	</div>

	<div id="dialogs" class="vdialog" style="display: none;">
		<div class="vdialog-header">
			<label class="vdialog-title"></label>
			<button class="vdialog-minimize"></button>
			<button class="vdialog-maximize"></button>
			<button class="vdialog-close"></button>
		</div>
		<div class="vdialog-body">
			<div id="dialogVue">
				<div>
					<select v-model='mode.value'>
						<option v-for='option in mode.options' v-bind:value='option.value'>
							{{ option.text }}
						</option>
					</select>
					<button @click='inputSetting' v-if="false">設定ファイル読込(未作成)</button>
				</div>
				<div class="setting" v-show="isSimple">
					<div>
						<span>使用文字</span>
						<input type="text" v-model="createSetting.setSimple.letters">
					</div>
					<div>
						<span>文字列長</span>
						<input type="number" v-model="createSetting.setSimple.input">
					</div>
				</div>
				<div class="setting" v-show="isSimpleCv">
					<div>
						<span>子音文字</span>
						<input type="text" v-model="createSetting.setSimpleCv.consonants">
					</div>
					<div>
						<span>母音文字</span>
						<input type="text" v-model="createSetting.setSimpleCv.vowels">
					</div>
					<div>
						<span>文字列構成</span>
						<input type="text" v-model="createSetting.setSimpleCv.input">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
