<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>単語文字列生成器</title>
	<link rel="stylesheet" href="./css/ntdialog.css" />
	<link rel="stylesheet" href="./css/wordmaker.css" />
	<script src="./scripts/vue.js"></script>
	<script src="./scripts/ntdialog.js"></script>
	<script src="./scripts/wgenerator.js"></script>
	<script src="./scripts/wordmaker.js"></script>
</head>
<body>
	<h1>単語文字列生成器</h1>
	<div id='app'>
		<div>
			<button @click='showDialog'>設定画面</button>
			<button @click='create'>作成</button>
			<button @click='outputJson'>OTM-JSONを出力</button>
		</div>
		<div>
			<h2>生成文字列一覧</h2>
			<div v-for='(word, index) in words'>
				<div class="zpword">
					<div class="entry">
						<label for="">単語</label>
						<input type="text" v-model="word.entry.form" class="form" />
						<button @click="remove(index)">削除</button>
					</div>
					<div v-for='(translation, index) in word.translations' class="translations">
						<div>
							<label for="">品詞</label>
							<input type="text" v-model="translation.title" class="title">
						</div>
						<div>
							<label for="">訳語</label>
							<input type="text" v-model="translation.forms[0]" class="forms">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dialogs" class="ntdialog" style="display: none;">
		<div class="ntdialog-header">
			<label class="ntdialog-title"></label>
			<button class="ntdialog-minimize"></button>
			<button class="ntdialog-maximize"></button>
			<button class="ntdialog-close"></button>
		</div>
		<div class="ntdialog-body">
			<div id="dialogVue">
				<div>
					<span>設定ファイル読み込み：</span>
					<input type='file' @change='inputSetting($event)'>
				</div>
				<hr />
				<div>
					<select v-model='mode.value'>
						<option v-for='option in mode.options' v-bind:value='option.value'>
							{{ option.text }}
						</option>
					</select>
				</div>
				<div class="setting" v-show="isSimple">
					<div>
						<span>使用文字</span>
						<input type="text" v-model="createSetting.setSimple.letters">
					</div>
					<div>
						<span>文字列長</span>
						<input type="number" v-model="createSetting.setSimple.input">
					</div>
				</div>
				<div class="setting" v-show="isSimpleCv">
					<div>
						<span>子音文字</span>
						<input type="text" v-model="createSetting.setSimpleCv.consonants">
					</div>
					<div>
						<span>母音文字</span>
						<input type="text" v-model="createSetting.setSimpleCv.vowels">
					</div>
					<div>
						<span>文字列構成</span>
						<input type="text" v-model="createSetting.setSimpleCv.input">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
