<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>単語文字列生成器</title>
	<link rel="stylesheet" href="./css/ntdialog.css" />
	<link rel="stylesheet" href="./css/wordmaker.css" />
	<script src="./scripts/vue.js"></script>
	<script src="./scripts/ntdialog.js"></script>
	<script src="./scripts/otmword.js"></script>
	<script src="./scripts/wgenerator.js"></script>
	<script src="./scripts/wmmodules.js"></script>
	<script src="./scripts/worddisplayvm.js"></script>
	<script src="./scripts/settingvm.js"></script>
	<script src="./scripts/equivalentchoicevm.js"></script>
	<script src="./scripts/wordmaker.js"></script>
</head>
<body>
	<h1>単語文字列生成器</h1>

	<div id='wordDisplay' class='half'>
		<h2>生成文字列一覧</h2>
		<div>
			<button @click="create" v-bind:disabled="isDisabled">作成</button>
			<button @click="removeAll" v-bind:disabled="isDisabled">全削除</button>
			<button @click="createAll" v-bind:disabled="isDisabled">一括作成</button>
			<button @click="outputOtmJSON" v-bind:disabled="isDisabled">OTM-JSONを出力</button>
		</div>
		<div class='dict'>
			<div class='zpword' v-for='word in dictionary.words'>
					<div class="entry">
						<label for="">単語</label>
						<input type="text" v-model="word.entry.form" class="form" />
						<button @click="showEquivalentDialog(word)" v-bind:disabled="isDisabled">訳語追加</button>
						<button @click="remove(word)" v-bind:disabled="isDisabled">削除</button>
					</div>
					<div v-for='translation in word.translations' class="translations">
						<div>
							<label>品詞</label>
							<input type="text" v-model="translation.title" class="title">
						</div>
						<div>
							<label>訳語</label>
							<input type="text" v-bind:value="translation.forms" @change="translation.forms = splitter($event.target.value)" class="forms">
						</div>
					</div>
			</div>
		</div>
	</div>

	<div id="settings" class='half'>
		<h2>設定</h2>
		<div>
			<span>設定ファイル入力：</span>
			<input type='file' @change='importSetting($event)'>
		</div>
		<div>
			<span>設定ファイル出力：</span>
			<button @click='exportSetting($event)'>出力</button>
		</div>
		<div>
			<button @click="showEquivalentDialog($event)">訳語設定</button>
		</div>
		<hr />
		<div>
			<select v-model='createSetting.mode'>
				<option v-for='type in generatorType' v-bind:value='type.value'>
					{{ type.text }}
				</option>
			</select>
		</div>
		<div class="createSettings" v-show="isSimple">
			<div>
				<span>使用文字</span>
				<input type="text" v-model="createSetting.simple.letters">
			</div>
			<div>
				<span>文字列長(カンマ区切りで複数記述可)</span>
				<input type="text" v-model="createSetting.simple.patterns">
			</div>
			<div>
				<span>禁則文字列(カンマ区切りで複数記述可)</span>
				<input type="text" v-model="createSetting.simple.prohibitions">
			</div>
		</div>
		<div class="createSettings" v-show="isSimpleCv">
			<div>
				<span>子音文字</span>
				<input type="text" v-model="createSetting.simplecv.consonants">
			</div>
			<div>
				<span>母音文字</span>
				<input type="text" v-model="createSetting.simplecv.vowels">
			</div>
			<div>
				<span>文字列構成(カンマ区切りで複数記述可)</span>
				<input type="text" v-model="createSetting.simplecv.patterns">
			</div>
			<div>
				<span>禁則文字列(カンマ区切りで複数記述可)</span>
				<input type="text" v-model="createSetting.simplecv.prohibitions">
			</div>
		</div>
		<div class="createSettings" v-show="isDependencyCv">
			<div>
				<span>子音文字</span>
				<input type="text" v-model="createSetting.dependencycv.consonants">
			</div>
			<div>
				<span>母音文字</span>
				<input type="text" v-model="createSetting.dependencycv.vowels">
			</div>
			<div>
				<span>文字列構成(カンマ区切りで複数記述可)</span>
				<input type="text" v-model="createSetting.dependencycv.patterns">
			</div>
			<div>
				<span>禁則文字列(カンマ区切りで複数記述可)</span>
				<input type="text" v-model="createSetting.dependencycv.prohibitions">
			</div>
			<div>
				<span>遷移可能文字設定</span>
				<div v-for="(transition, index)  in createSetting.dependencycv.transitions">
					<input type="text" class="letter" v-model="transition.letter">
					<input type="text" class="nextLetters" v-model="transition.nextLetters">
					<button>削除</button>
				</div>
				<button>追加</button>
			</div>
		</div>
	</div>

	<div id="equivalentDialog" class="ntdialog">
		<div class="ntdialog-header">
			<label class="ntdialog-title"></label>
			<button class="ntdialog-minimize"></button>
			<button class="ntdialog-maximize"></button>
			<button class="ntdialog-close"></button>
		</div>
		<div class="ntdialog-body">
			<div id="equivalentChoice">
				<input type="hidden" id="selectedWordId" value="">
				<div v-show="isSetEquivalentMode">
					<div>
						<span>訳語ファイル入力(複数選択可)：</span>
						<input type="file" @change="setTranslations($event)" multiple>
					</div>
				</div>
				<div v-show="!isSetEquivalentMode">
					<div>
						<button @click="addTranslation">追加</button>
						<button @click="cancel">キャンセル</button>
					</div>
					<div>
						<select v-model='selectedValue'>
							<option v-for='word in translations' v-bind:value='word'>
								{{ word }}
							</option>
						</select>
					</div>
				<div>
			</div>
		</div>
	</div>

</body>
</html>
